
.ProfileContainer{
  background-color: #222831;
  padding-top: 90px;
  height: 100%;
  width: 100vw;
}

/*
  profile navbar secton
*/
.user-icon{
  margin-left: 100px;
}
.contact-info-block{
  margin-bottom: 20px;
}

/*
  basic info section
*/
